<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      const header = document.getElementById("title");

      header.innerHTML = '<object type="text/html" data="./title.html"></object>';
  </script>
  </head>
  <body>
    <div class="title"></div>
    <div id="accountAddress">loading</div>
    <div id="nftcards">loading</div>
  </body>
  <script src="/javascripts/web3.min.js"></script>
  <script src="/javascripts/truffle-contract.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
