<!DOCTYPE html>
<html>
  <head>
    <title>DoBuyShop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/title.css' />

  </head>
  <body>
    <!-- title -->
    <div class="title">
      <div class="navbar">
        <div class="navbar_logo">
            <a href="/">
                <img src="/images/dobuy_logo.PNG">
            </a>
        </div>
        <ul class="navbar_menu">
            <li><a href="/swap">Swap</a></li>
            <li><a href="/market">NFT Market</a></li>
            <li><a href="/trade">NFT Trade</a></li>
            <li><a href="/mypage">My Page</a></li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div id="accountAddress"></div>
  </body>
  <script src="/javascripts/title.js"></script>
  <script src="/javascripts/web3.min.js"></script>
  <script src="/javascripts/truffle-contract.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
