* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NEXON Lv2 Gothic', sans-serif;
    font-size: 18px;
}
input[type="text"], input[type="number"] {
    height: 25px;
    border-radius: 0px;
    outline: none;
    border: 1px solid #c1c1c1;
    margin-left: 4px;
}
.Assert {
    /* display: flex; */
    font-weight: bolder;
    font-size: 20px;
}
.Assert_show {
    padding: 20px 15%;
}
.assert_title {
    font-size: 36px;
    font-family: 'Rampart One', cursive;
    color: #646464;
}
.assert_coment {
    /* font-family: 'Righteous', cursive; */
    font-size: 25px;
    padding: 39px 0;
    padding-bottom: 0px;
}
.assert_subcom {
    /* font-family: 'Righteous', cursive; */
    font-size: 20px;
    padding: 25px 0;
    margin-left: 25px;
    line-height: 30px;
}
.assert_body {
    width: 70%;
    overflow-x: hidden;
    padding-top: 8px;
    margin: 0 auto;
    margin-top: -8px;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% + 100px); */
    width: 100%;
}
.content_box {
    width: 200px;
    height: 290px;
    padding: 5px 5px;
    border: 1px solid #aaaaaa;
    border-radius: 10px 10px;
    text-align: center;
    margin: 10px 10px;
}
.content_box:hover



{
    box-shadow: 2px 2px #9b9b9b;
}
.content_box img {
    width: 100px;
    height: 100px;
}
.content_box div {
    margin-top: 5px;
}
.content_name {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
}
.content_eth {
    color: #e41d1d;
    font-weight: bold;
    font-size: 15px;
}
.content_eth input {
    font-family: 'Source Code Pro', monospace;
    width: 150px;
    text-align: right;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding-right: 20px;
}
.content_eth img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.content_be {
    text-align: right;
}
.eth_btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 9px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    /* border: 1px solid #1f61ee; */
    border: none;
    /* background: #2baaff; */
    background-color: #bf935b;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.eth_btn:hover {
    /* background: #1f61ee; */
    background-color: #886940;
}
.content_do {
    color: #1d84e4;
    font-weight: bold;
    font-size: 15px;
}
.content_do input {
    font-family: 'Source Code Pro', monospace;
    width: 150px;
    text-align: right;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 5px;
}
.content_do img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.content_bd {
    text-align: right;
}
.do_btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 9px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    /* border: 1px solid #1f61ee; */
    border: none;
    /* background: #2baaff; */
    background-color: #bf935b;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.do_btn:hover {
    /* background: #1f61ee; */
    background-color: #886940;
}
.admins_btn {
    padding: 5px 16%;
}
.form_data {
    padding: 10px 15%;
}
.admin_button {
    padding: 5px 12px;
    /* border-radius: 10px 10px; */
    border: none;
    /* box-shadow: 0 2px 3px black; */
    background: #8c5f41;
    color: #fff;
    font-family: 'NEXON Lv2 Gothic', sans-serif;
}
.admin_button:hover {
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}
.input_form {
    margin-left: 10px;
    width: 81%;
    padding: 25px;
    line-height: 35px;
    background-color: #fff5e7;
    color: #403d3d;
}
.input_form ._submit{
    padding: 5px 12px;
    border: none;
    background: #8c5f41;
    color: #fff;
    cursor: pointer;
    font-family: 'NEXON Lv2 Gothic', sans-serif;
}
.input_form ._submit:hover{
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;

}
.container_under {
    font-weight: bolder;
    font-size: 20px;
    /* padding: 20px 20px; */
    /* border: 1px solid #646464; */
    /* width: 600px; */
    /* margin: 10px 10px; */
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    /* border-radius: 10px 10px; */
    margin-bottom: 28px;
}
.container_title {
    font-family: 'Source Code Pro', monospace;
    padding: 25px 15px;
    border-bottom: 1px solid #f1d1a8;
    font-size: 25px;
}
.list_title {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    border-top: 2px solid #bf935b;
    background: #ffe9cc;
}
.list_body {
    font-size: 15px;
    height: 300px;
    overflow: scroll;
}
.list_box_show {
    display: flex;
}
.list_body .list_box_show:nth-child(even) {
    background: #eee;
}
.list_title .list_box_show {
    border-bottom: 1px solid #f1d1a8;
}
.list_data {
    padding: 15px 15px;
    font-family: 'Source Code Pro', monospace;
    width: 150px;
}
.list_data2 {
    padding: 15px 15px;
    font-family: 'Source Code Pro', monospace;
}
.filebox input[type="file"] {

    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    clip:rect(0,0,0,0); border: 0;
}
.filebox label { 
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px 12px;
    border: none;
    background: #8c5f41;
    color: #fff;
    padding-top: 5px;
    cursor: pointer;
    font-family: 'NEXON Lv2 Gothic';
}
.filebox label:hover{
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}
