*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
.navbar{
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff5e7;
  padding: 8px 12px;
  /* border-bottom: 2px solid rgba(192, 192, 192, 0.933); */
  border-bottom: 1px solid rgb(240 223 200);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.navbar_logo {
  height: 60px;
}
.navbar_logo img{
  padding-left: 15px;
  /* height: 40px; */
  height: 100%;
}
.navbar a{
  text-decoration: none;
  /* color: #000; */
  color: #8c5f41;
}
.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li{
  padding: 8px 12px;
  transform: translateY(1px);
}
.navbar_menu li:hover{
  /* background-color: #8fc3ff; */
  background-color: #e9d8c7;
  border-radius: 4px;
}
.navbar__toogleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #24c0eb;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
  .navbar__toogleBtn{
    display: block;
  }

  .navbar_menu.active{
    display: flex;
  }
}