* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NEXON Lv2 Gothic', sans-serif;
    font-size: 18px;
}
.container {
    font-weight: bolder;
    font-size: 20px;
}
.container_title {
    padding: 20px 20%;
    font-size: 36px;
    font-family: 'Rampart One', cursive;
    color: #646464;
}
.container_box {
    padding: 20px 20%;

}
.container_body, .trade_container_body {
    padding: 50px;
    border: 1px solid #ccc;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
}
.tag_head {
    font-size: 25px;
    margin-bottom: 30px;
    /* margin-left: 20px; */
}
.btn_put {
    /* padding: 5px 12px; */
    border: none;
    background: #8c5f41;
    color: #fff;
    /* margin-left:20px; */
    font-family: 'NEXON Lv2 Gothic';
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    background: #8c5f41;
    border-radius: 4px;
}
.btn_put:hover {
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}
.plus_box {
    padding: 10px 0;
}
.tag_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content {
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% + 100px); */
    width: 100%;
}
.content_box {
    width: 200px;
    height: 290px;
    padding: 5px 5px;
    border: 1px solid #aaaaaa;
    border-radius: 10px 10px;
    text-align: center;
    margin: 10px 10px;
}
.content_box:hover {
    box-shadow: 2px 2px #9b9b9b;
}
.content_box img {
    width: 150px;
    height: 150px;
}
.content_box div {
    margin-top: 5px;
}
.content_number {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
}
.content_name {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
}
.content_btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 9px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    /* border: 1px solid #1f61ee; */
    border: none;
    background: #bf935b;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'NEXON Lv2 Gothic';
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.content_btn:hover {
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;

}
.content_btn.disabled {
    background:#eee;
    color: #000;
}
.content_btn.disabled:hover {
    background:#c7c7c7;
}
.selling_nft {
    height: 350px;
}
.content_eth {
    color: #e41d1d;
    font-weight: bold;
    font-size: 15px;
}
.content_eth input {
    font-family: 'Source Code Pro', monospace;
    width: 150px;
    text-align: right;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding-right: 20px;
}
.content_eth img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.content_be {
    text-align: right;
}
.eth_btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 9px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    /* border: 1px solid #1f61ee; */
    border: none;
    /* background: #2baaff; */
    background-color: #bf935b;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.eth_btn:hover {
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}
.content_do {
    color: #1d84e4;
    font-weight: bold;
    font-size: 15px;
}
.content_do input {
    font-family: 'Source Code Pro', monospace;
    width: 150px;
    text-align: right;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 5px;
}
.content_do img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.content_bd {
    text-align: right;
}
.do_btn {
    font-size: 15px;
    color: #fff;
    padding: 4px 9px;
    margin-bottom: 5px;
    border-radius: 5px 5px;
    /* border: 1px solid #1f61ee; */
    border: none;
    /* background: #2baaff; */
    background-color: #bf935b;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.do_btn:hover {
    /* background: #1f61ee; */
    background-color: #886940;
}
.admins_btn {
    padding: 5px 16%;
}
.trade_container {
    padding: 20px 20%;
}
.trade_titles {
    font-size: 25px;
    margin-bottom: 10px;
}
.form_data {
    /* line-height:150%;
    font-weight: 700;
    margin-right: 5px;
    border: 2px solid #d3d3d3;
    width: 430px;
    padding : 15px 0px 8px 15px ;
    line-height:200%;
    border-radius:15px; */
    line-height:150%;
    font-weight: 700;
    margin-right: 5px;
    width:430px;
    padding: 25px;
    line-height: 45px;
    background-color: #fff5e7;
    color: #403d3d;
    width: calc(100% - 100px);
    padding: 50px;
    font-size: 18px;
}
.plus_btn {
    /* text-align: center; */
    margin-top: 20px;
}
.input_submit {
    /* padding: 5px 12px; */
    padding: 10px 21px;
    border: none;
    background: #8c5f41;
    color: #fff;
    padding-top:5px;
    cursor: pointer;
    font-family: 'NEXON Lv2 Gothic';
    height: 35px;
    line-height: 26px;
    letter-spacing: 2px;
    border-radius: 4px;
    font-size: 16px;
}
.input_submit:hover{
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}
#struct_name {
    width: calc(100% - 500px);
    height: 25px;
    border-radius: 0px;
    outline: none;
    border: 1px solid #c1c1c1;
    margin-left: 4px;
    padding: 0 5px;
}
.filebox input[type="file"] {

    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    clip:rect(0,0,0,0); border: 0;
}
.filebox label { 
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    vertical-align: middle;
    font-weight: 500;
    /* padding: 5px 12px; */
    border: none;
    background: #bf935b;
    color: #fff;
    padding-top: 5px;
    cursor: pointer;
    font-family: 'NEXON Lv2 Gothic';
    padding: 8px 14px;
    border-radius: 4px;
}
.filebox label:hover{
    background: #8c5f41;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}



.sell_btn{
    padding: 5px 12px;
    border: none;
    background: #8c5f41;
    color: #fff;
    padding-top:5px;
    cursor: pointer;
    font-family: 'NEXON Lv2 Gothic';
}
.sell_btn:hover{
    background: #884a20;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 2px 3px black;
}